<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header text-lighten-2 header-name name-hidden animated">Julian Guterman</h1>
        <div class="row center">
          <h5 class="header light left-align header-text text-hidden animated">Junior Full-Stack Developer</h5>
          <hr class="header light left-align header-underline text-hidden animated">
        </div>

        <span>
        <h5 class="header light right-align header-icon-1 text-hidden animated" style="margin-left: 65%;"><a href="https://www.github.com/gutermanj" class="header-icons"><i class="fa fa-github"></i></a></h5>
        <h5 class="header light right-align header-icon-2 text-hidden animated" style="margin-left: 65%;"><a href="https://www.linkedin.com/in/gutermanj" class="header-icons"><i class="fa fa-linkedin"></i></a></h5>
        <h5 class="header light right-align header-icon-3 text-hidden animated" style="margin-left: 65%;"><a href="https://www.twitter.com/julianguterman" class="header-icons"><i class="fa fa-twitter"></i></a></h5>
    </span>
        
        <br><br>

      </div>
    </div>
    <div class="parallax" style="opacity: 0.9;"><img src="my_pic.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">power_settings_new</i></h2>
            <h5 class="center">Driven by Passion</h5>

            <p class="light center-align">I eat, breathe, and sleep in code. I kick started my career in Web Development by going head first into an intensive Web Development Bootcamp in Miami. Not only has that experience given me a diverse skill set, but it has confirmed for me that I can't 'not' see myself as a developer!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">people_outline</i></h2>
            <h5 class="center">2 Heads are Better than 1</h5>

            <p class="light center-align">I'm a strong believer in coding in teams. While developing an application, I know how powerful it can be to have two or more minds working together to solve problems!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Why I'm a Developer</h5>

            <p class="light center-align">I had a burning curiousity for how computers worked throughout my life. I took a leap of faith and went to a bootcamp where I was taught how to learn. Now, the thing that excites me most is how much more there is to learn and all the great things that can be created!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Portfolio | Experience</h5>
          	<div class="icon-block">
          		<h1 class="center m4"><i class="material-icons">expand_more</i></h1>
      		</div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="coding-background.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
 <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">music_note</i></h2>
            <h5 class="center"><a href="http://www.aimuzer.com" style="color: black;"><u>Aimuzer</u></a></h5>

            <p class="light center-align">Aimuzer was my final project at Ironhack, the web developement bootcamp I attended. I built a music platform for producers and listeners to add attribute tags to the music they love. Aimuzer's goal is to use those tags with predictive analytics to find similar music and to allow music to discover you!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="fa fa-github"></i></h2>
            <h5 class="center"><a href="https://www.github.com/gutermanj" style="color: black;"><u>GitHub</u></a></h5>

            <p class="light center-align">Check out my github! It includes the source code for Aimuzer as well as many other exercises and projects I'm working on.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="fa fa-linkedin"></i></h2>
            <h5 class="center"><a href="https://www.linkedin.com/in/gutermanj" style="color: black;"><u>LinkedIn</u></a></h5>

            <p class="light center-align">Please connect with me on LinkedIn! It provides a detailed background of my professional experience as well as my short and long-term goals.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  	<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Let's get together</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="racoon.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send teal-text"></i></h3>
          <h4>Contact Me</h4>
         	<div class="form">
         		 <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <br><br>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>

         	</div>
        </div>
      </div>

    </div>
  </div>




  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Julian Guterman</h5>
          <p class="grey-text text-lighten-4">Junior Full-Stack Web Developer<br>Ruby on Rails | JavaScript | HTML5 | CSS3</p>
        </div>


        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">Phone (561) 381 1223</a></li>
            <li><a class="white-text" href="#!">Email gutermanj@gmail.com</a></li>
            <li><a class="white-text" href="#!">Twitter @JulianGuterman</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
      <i class="fa fa-copyright"> Julian Guterman 2016</i>
      </div>
    </div>
  </footer>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>